<header class="z-10 relative mx-auto max-w-6xl px-6 py-8 flex justify-between items-center border-b-gray-500">
				
    <a href="#" class="text-xl tracking-wider font-bold">Café de Cristal</a>
    
    <ul class="hidden md:flex uppercase text-sm">
        <li>
            <a href="index.html" class="font-bold">Home</a>
        </li>
        <li class="ml-6">
            <a href="history.html" class="font-bold">Historia</a>
        </li>
        <li class="ml-6">
            <a href="marketing.html" class="font-bold">Marketing</a>
        </li>

        <li class="ml-6">
            <a href="products.html" class="font-bold">Catálogos</a>
        </li>
    </ul>

</header>